<div class="border border-5 m-5 p-3 ">
    <h2 class="color-text-success">Please find our office time and address</h2>
    <div class="row p-3">
        <div class="col"></div>
        <div class="col-4 card">
            <h5 class=" text-danger card-title" style="text-align: center;">OPENING TIMES</h5>
            <div class="card-body">
                Mon – Fri: 10:00 AM – 5:00 PM
            </div>
        </div>
        <div class="col"></div>
        <div class="col-4 card">
            <h5 class="text-danger card-title" style="text-align: center;">FIND US HERE</h5>
            <div class="card-body">
               ashoka nagar,shimoga, Karnataka 577202
            </div>
        </div>
        <div class="col"></div>
    
</div>
