 <div class="spfooter">
    <div class="spectre">
        <footer class="p-2 bg-dark" style="background-color: #734aad;color:#ffffff;">
            <div class="container">
                <div class="clearfix m-2 linksCont">
                    <a class="btn btn-link" href="/faqs" data-id="faqs">FAQs</a>
                    <a class="btn btn-link" href="/contactus" data-id="contactus">Contact Us</a>
                    <a class="btn btn-link" href="/termsofuse" data-id="termsofuse">Terms of Use</a>
                    <a class="btn btn-link" href="/privacypolicy" data-id="privacypolicy">Privacy Policy</a>
                    <a class="btn btn-link" href="/refundpolicy" data-id="refundpolicy">Refund Policy</a>
                    <a class="btn btn-link" href="/s/pages/services" data-id="pjbzjvq5t">Our Services</a>
                </div>
                <div class="columns m-2">
                    <div class="column col-6 col-sm-12">
                        © 2022 Learnlytica
                    </div>
                    <div class="column col-6 col-sm-12 text-right">





                    </div>
                </div>
            </div>
        </footer>

    </div>




</div> 